@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Roboto&display=swap');

:root {
    --main-color: #fef2f2;    
}

body {
    margin: 0;
    padding: .5em;
    font-family: 'Roboto', sans-serif;
}
/* CONTAINER */
#container {
    background-color: var(--main-color);
    display: grid;
    height: 90vh;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-template-rows: 50px .5fr .5fr 3fr 1fr;
}

#container * {
    padding: 5px;  
}

button {
    font-size: .75em;
    width: 12em;
    min-width: 10em;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fecaca;
}

button:hover,
button:active {
    background-color: #f87171;
}

/* HEADER */
#header {
    grid-column: 1 / 4;
    letter-spacing: .2em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

/* SELECT PLAYERS */
#select {
    padding:1em;
    grid-column: 1 / 4;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    font-size: 2em;       
}

#select-players {
    align-self: center;
}

/* SET PLAYERS */
#player-settings {
    grid-column: 1 / 4;
    display: grid;  
    height: 50vh;  
    font-size: 2em;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .75fr 1fr .75fr;
    place-items: center;
}

#settings-text,
#start-game {
    grid-column: 1 / 3;
}

#player-settings label {
    display: block;    
}

#player-settings input[type=text] {
    width: 12em;
    font-size: .75em;
    border: 4px solid black;
    border-radius: 10px;
}

/* PLAYER PANELS */
.player-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
}

.symbol {
    font-size: 3em;
}

.score {
    font-size: 3em;
}

/* GAMEBOARD */
#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);    
}

.square {
    background-color: #fecaca;
    border: 4px solid black;
    margin: -2px;
    display: grid;
    font-size: 5em;
    font-weight: bold;
    place-items: center;
}

.square:hover {
    background-color: #f87171;
}

.square[disabled]:hover {
    background-color: #fecaca;
}

/* WINNER SECTION */
#winner {
    padding-top: 2em;;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    font-size: 2em;
    justify-items: center;
}

#winner-text {
    grid-column: 1 / 3;
}


